modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"

language = "python"
run = "python app.py"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"


